
body {
  background: #f2f2f2;
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

.header {
  font-size: 52px;
  background: #22bbdd;
  padding: 20px;
  color: #fff;
  font-weight: normal;
  border-bottom: 1px solid #666;
  text-shadow: 0.1em 0.1em 0.1em #0588bb;
  text-align: center;
}

.body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px 8px 36px;
}

h3 {
  color: #22bbdd;
  border-left: 6px solid #22bbdd;
  padding-left: 6px;
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

pre {
  margin: 0;
  padding: 8px 16px;
  background: #e2e2e2;
  border-bottom: 1px solid #aaa;
  white-space: pre-wrap;
}

a {
  color: #11aacc;
  text-decoration: none;
}

a:hover {
  color: #22bbdd;
  border-bottom: 1px solid #44ddff;
}

.code, code {
  font-family: 'Inconsolata', Monaco, Menlo, 'Courier New', Courier, monospace;
}

.example {
  float: right;
  font-size: 14px;
  border-bottom: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  padding: 0 4px;
  margin-right: 16px;
  line-height: 16px;
  color: #aaa;
}

.desc {
  font-family: 'Oxygen', sans-serif;
}

